/* styles.css */

body {
  font-family: Arial, sans-serif;
  background-color: #282c34;
  color: #abb2bf;
  margin: 0;
  padding: 0;
}

div {
  margin: 20px;
}

input[type="text"] {
  padding: 8px;
  margin-bottom: 10px;
  background-color: #3e4451;
  color: #abb2bf;
  border: 1px solid #abb2bf;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  border: 1px solid #3e4451;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #4b5261;
  color: #61afef;
}

tr.selected {
  background-color: #3e4451;
}

button {
  padding: 8px 16px;
  margin-right: 5px;
  cursor: pointer;
  background-color: #61afef;
  color: #282c34;
  border: none;
  border-radius: 4px;
}

button.delete-selected {
  background-color: #ff3333;
  color: #fff;
  border: none;
  border-radius: 4px;
}
.search-icon {
  background-color: #333; /* Dark background color */
  color: #fff; /* Text color */
  border: 1px solid #555; /* Border color */
  border-radius: 5px; /* Rounded corners */
  padding: 10px; /* Padding around text */
  font-size: 16px; /* Text size */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle lift */
}

.search-icon::placeholder {
  color: #aaa; /* Placeholder text color */
}

/* Pagination styles */
div {
  margin-top: 10px;
}

span {
  margin: 0 10px;
}

/* Responsive styles */
@media (max-width: 600px) {
  th, td {
    font-size: 12px;
  }
}
